@media (prefers-color-scheme: dark) {
  html, body, .card, .form-select, .form-control {
    background-color: #202020 !important;
    color: white !important;
    border-color: #444444 !important;
  }
}