html {
  scroll-behavior: smooth;
}

.footer a {
  text-decoration: none;
  letter-spacing: 0.25rem;
  font-weight: bold;
}

html {
  background-image: url(./assets/images/arya-dubey-8eYI8qcEFxI-unsplash.jpg);
  background-position: center;
}

body {
  background-color: rgba(255, 255, 255, 0.9);
}

@media (prefers-color-scheme: dark) {
  html, body, .card, .form-select, .form-control {
    color: white !important;
    border-color: #444444 !important;
  }

  body {
    background-color: rgba(20, 20, 20, 0.95);
  }

  .card, .form-select, .form-control {
    background-color: #292929 !important;
  }

  .form-select:disabled {
    background-color: #202020 !important;
  }
}